# Environment variables
.env
.env-local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Application Artifacts
converted_labels/
converted_json/
converted_dst/
info_images/

# Test files
test_*.py
*_test.py

# Cache
needle_cache.json
*.log
