# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Application Artifacts
converted_labels/
converted_json/
converted_dst/
info_images/
